.mail-top{
    width:100%;
    /* background-color: tomato; */
}
.addr_btn{
    display:block;
    float:right;
}
th, td {
    height:28px;    
}
th{ width:30%;}
td {
    width:70%;    
    border-bottom: 1px solid rgb(143, 141, 141);
}
.mt1{
    width:80%;
    /* display:block; */
    border:0;
    cursor:text;
    background-color: #f4f7fa;
}