<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="approvalMapper">
  
    <resultMap type="Document" id="DocResultMap">
	   <id property="docNo" column="DOCUMENT_NO"/>
	   <result property="docWriterNo" column="DOCUMENT_WRITER_NO"/>
	   <result property="docKind" column="DOCUMENT_KIND"/>
	   <result property="docContents" column="DOCUMENT_CONTENTS"/>
	   <result property="docStatus" column="DOCUMENT_STATUS"/>
	   <result property="docReason" column="DOCUMNET_REASON"/>
	   <result property="dCreateDate" column="D_CREATE_DATE"/>
	   <result property="dUpdateDate" column="D_UPDATE_DATE"/>
	   <result property="vStartDate" column="VACATION_START_DATE"/>
	   <result property="vEndDate" column="VACATION_END_DATE"/>
  	</resultMap>
  	
  	 <resultMap type="DocumentFile" id="DocFileResultMap">
	   <id property="fileNo" column="FILE_NO"/>
	   <id property="fileOrder" column="FILE_ORDER"/>
	   <result property="documentNo" column="DOCUMENT_NO"/>
	   <result property="fileName" column="FILE_NAME"/>
	   <result property="fileRename" column="FILE_RENAME"/>
	   <result property="fileSize" column="FILE_SIZE"/>
	   <result property="filePath" column="FILE_PATH"/>
	   <result property="fileKind" column="FILE_KIND"/>
  	</resultMap>
  	
  	 <resultMap type="CodeInfo" id="CodeInfoResultMap">
	   <id property="groupCodeId" column="GROUP_CODE_ID"/>
	   <result property="codeId" column="CODE_ID"/>
	   <result property="codeName" column="CODE_NAME"/>
	   <result property="codeContents" column="CODE_CONTENTS"/>
  	</resultMap>
  	
  	<resultMap type="Approval" id="ApprResultMap">
	   <id property="approvalNo" column="APPROVAL_NO"/>
	   <result property="documentNo" column="DOCUMENT_NO"/>
	   <result property="approvalEmpNo" column="EMP_NO"/>
	   <result property="approvalType" column="APPROVAL_TYPE"/>
	   <result property="approvalStatus" column="APPROVAL_STATUS"/>
	   <result property="approvalOpinion" column="APPROVAL_OPINION"/>
	   <result property="approvalStartDate" column="APPROVAL_STARTDATE"/>
	   <result property="approvalEndDate" column="APPROVAL_ENDDATE"/>
	   <result property="signFileNo" column="FILE_NO"/>
  	</resultMap>
  	
  	<select id="selectCodeInfoOne" resultType="map" parameterType="map">
  		select * 
  		from code_info 
  		<where>
  			<if test="group_code_id != '' and group_code_id != null">
  				and group_code_id = #{group_code_id}
  			</if>
  			<if test="code_id != '' and code_id != null">
  				and code_id = #{code_id}
  			</if>
  		</where>
  		ORDER BY SORT_ORDR
  	</select>
  	
  	<select id="selectCodeInfo" resultMap="CodeInfoResultMap">
  		select * from code_info ORDER BY SORT_ORDR
  	</select>
  	
<!--   	<select id="selectWaitApprDoc"> -->
<!-- 		select *  -->
<!-- 		from DOCUMENT join approval using(document_no) -->
<!-- 		where approval_status = '대기' and approval.emp_no = 2 -->
<!--   	</select> -->
  	
  	<!-- 내가 작성한 리스트 -->
  	<select id="selectAllList" parameterType="map" resultMap="DocResultMap">
  		select * 
  		from document 
  		<where>
  			and DOCUMENT_WRITER_NO = #{empNo, jdbcType=BIGINT }
  		</where>
  		order by DOCUMENT_NO DESC
  	</select>
  	
	<!--   	전체 리스트 갯수 -->
  	<select id="selectListCount" parameterType="map" resultType="_int">
  		select count(*) 
  		from document 
  		<where>
  			<if test='#{gubun}.equals("myWrite")'>
	 	 		and DOCUMENT_WRITER_NO = #{docWriterNo}  		
  			</if>
  		</where> 
  	</select>
  	
  	<!-- 결재문 등록 -->
  	<insert id="insertDocument" parameterType="Document">
  		INSERT INTO DOCUMENT 
  		VALUES
  		(SEQ_DOCUMENT.NEXTVAL,#{docWriterNo,jdbcType=BIGINT },#{docKind,jdbcType=VARCHAR},#{docContents,jdbcType=CLOB},'결재대기',null,SYSDATE,SYSDATE,NULL,NULL)
	
	<selectKey keyProperty="docNo" resultType="int" order="AFTER">
		SELECT MAX(DOCUMENT_NO) FROM DOCUMENT
	</selectKey>
	</insert>
	
	<insert id="insertDocumentFile">
		INSERT INTO DOC_FILE 
  		VALUES(SEQ_DOC_FILE.NEXTVAL,1,#{documentNo},#{fileName},#{fileRename},#{fileSize},#{filePath},'문서')
	</insert>
	
	<insert id="insertAppr">
		INSERT INTO approval 
  		VALUES(SEQ_APPR.NEXTVAL,#{documentNo}, #{approvalEmpNo},#{approvalType},'대기',NULL,SYSDATE,NULL,NULL)
	</insert>
	
	<select id="selectApproval" parameterType="_int" resultMap="ApprResultMap">
		SELECT * FROM approval WHERE DOCUMENT_NO = #{documentNo } ORDER BY 1
	</select>
  	
  	<select id="selectDocOne" parameterType="_int" resultMap="DocResultMap">
  		SELECT * FROM DOCUMENT WHERE DOCUMENT_NO = #{documentNo }
  	</select>
  	
  </mapper>