<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="approvalMapper">
  
    <resultMap type="Document" id="DocResultMap">
	   <id property="docNo" column="DOCUMENT_NO"/>
	   <result property="docWriterNo" column="DOCUMENT_WRITER_NO"/>
	   <result property="docKind" column="DOCUMENT_KIND"/>
	   <result property="docContents" column="DOCUMENT_CONTENTS"/>
	   <result property="docStatus" column="DOCUMENT_STATUS"/>
	   <result property="docReason" column="DOCUMNET_REASON"/>
	   <result property="dCreateDate" column="D_CREATE_DATE"/>
	   <result property="dUpdateDate" column="D_UPDATE_DATE"/>
	   <result property="vStartDate" column="VACATION_START_DATE"/>
	   <result property="vEndDate" column="VACATION_END_DATE"/>
  	</resultMap>
  	
  	 <resultMap type="CodeInfo" id="CodeInfoResultMap">
	   <id property="groupCodeId" column="GROUP_CODE_ID"/>
	   <result property="codeId" column="CODE_ID"/>
	   <result property="codeName" column="CODE_NAME"/>
	   <result property="codeContents" column="CODE_CONTENTS"/>
  	</resultMap>
  	
  	<resultMap type="Approval" id="ApprResultMap">
	   <id property="approvalNo" column="APPROVAL_NO"/>
	   <result property="documentNo" column="DOCUMENT_NO"/>
	   <result property="approvalEmpNo" column="EMP_NO"/>
	   <result property="approvalType" column="APPROVAL_TYPE"/>
	   <result property="approvalStatus" column="APPROVAL_STATUS"/>
	   <result property="approvalOpinion" column="APPROVAL_OPINION"/>
	   <result property="approvalStartDate" column="APPROVAL_STARTDATE"/>
	   <result property="approvalEndDate" column="APPROVAL_ENDDATE"/>
	   <result property="signFileNo" column="FILE_NO"/>
  	</resultMap>
  	
  	<select id="selectCodeInfoOne" resultType="map" parameterType="map">
  		select * 
  		from code_info 
  		<where>
  			<if test="group_code_id != '' and group_code_id != null">
  				and group_code_id = #{group_code_id}
  			</if>
  			<if test="code_id != '' and code_id != null">
  				and code_id = #{code_id}
  			</if>
  		</where>
  		ORDER BY SORT_ORDR
  	</select>
  	
  	<select id="selectCodeInfo" resultMap="CodeInfoResultMap">
  		select * from code_info ORDER BY SORT_ORDR
  	</select>
  	
  	
  	<!-- 내가 작성한 리스트 -->
  	<select id="selectAllList" parameterType="map" resultMap="DocResultMap">
  		select * from document where DOCUMENT_WRITER_NO = #{empNo, jdbcType=BIGINT } order by DOCUMENT_NO DESC
  	</select>
  	
	<!--   	전체 리스트 갯수 -->
  	<select id="selectListCount" parameterType="_int" resultType="_int">
  		select count(*) from document where DOCUMENT_WRITER_NO = #{docWriterNo}
  	</select>
  	
  	
  	<insert id="insertDocument" parameterType="map">
  		INSERT INTO DOCUMENT VALUES(SEQ_DOCUMENT.NEXTVAL,#{WriterEmpNo,jdbcType=BIGINT },#{docGubun,jdbcType=VARCHAR},#{docContents,jdbcType=CLOB},'결재대기',null,SYSDATE,SYSDATE,NULL,NULL)
	</insert>
	
	<select id="selectApproval" parameterType="_int" resultMap="ApprResultMap">
		SELECT * FROM approval WHERE DOCUMENT_NO = #{documentNo } ORDER BY 1
	</select>
  	
  	<select id="selectDocOne" parameterType="_int" resultMap="DocResultMap">
  		SELECT * FROM DOCUMENT WHERE DOCUMENT_NO = #{documentNo }
  	</select>
  </mapper>