<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="attendanceMapper">
  <resultMap type="Attendance" id="attendResultMap">
  	<id property="attendNo" column="ATTEND_NO"/>
  	<result property="empNo" column="EMP_NO"/>
  	<result property="attendDate" column="ATTEND_DATE"/>
  	<result property="startTime" column="START_TIME"/>
  	<result property="finishTime" column="FINISH_TIME"/>
  	<result property="totalWorkhour" column="TOTAL_WORKHOUR"/>
  	<result property="division" column="DIVISION"/>
  	<result property="note" column="NOTE"/>
  </resultMap>
  
  
  <select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM ATTENDANCE WHERE EMP_NO = #{empNo} 
	</select>

  <select id="selectAllList" resultMap="attendResultMap">
		SELECT * FROM ATTENDANCE WHERE EMP_NO = #{empNo} ORDER BY ATTEND_NO DESC
	</select>
	
<!-- 	<select id ="" -->
<!-- 	SELECT COUNT(*) FROM ATTENDANCE WHERE EMP_NO = #{empNo} AND DIVISION = '지각' AND TO_DATE(ATTEND_DATE,'YY/MM') = (SELECT TO_CHAR(SYSDATE, 'YY/MM') FROM DUAL) -->
<!--   출근시간, 퇴근시간 입력 -->
  <insert id="putTime">
  		INSERT INTO ATTENDANCE VALUES(SEQ_ATTENDNUM.NEXTVAL, #{empNo }, SYSDATE, #{startTime }, #{finishTime }, #{totalWorkhour }, #{division }, #{note } )
  </insert>
  <insert id="putFinishTime">
  		UPDATE ATTENDANCE SET FINISH_TIME = #{finishTime }, TOTAL_WORKHOUR= #{totalWorkhour } WHERE TO_DATE(ATTEND_DATE,'YY/MM/DD') = (SELECT TO_CHAR(SYSDATE, 'YY/MM/DD') FROM DUAL)
  </insert>
<!--   근무시간 계산 -->
  <select id="selectOne" resultMap="attendResultMap">
  		SELECT * FROM ATTENDANCE WHERE EMP_NO = #{empNo } AND TO_DATE(ATTEND_DATE,'YY/MM/DD') = (SELECT TO_CHAR(SYSDATE, 'YY/MM/DD') FROM DUAL)
  </select>
  
  </mapper>