<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mailMapper">
   <resultMap type="Mail" id="mailResultMap">
	   <id property="mailNo" column="MAIL_NO"/>
	   <result property="mailTitle" column="MAIL_TITLE"/>
	   <result property="mailContents" column="MAIL_CONTENTS"/>
	   <result property="senderId" column="SENDER_ID"/>
	   <result property="receiverId" column="RECEIVER_ID"/>
	   <result property="receiverId2" column="RECEIVER_ID2"/>
	   <result property="sendTime" column="SEND_TIME"/>
	   <result property="readTime" column="READ_TIME"/>
	   <result property="mailFileName" column="MAIL_FILENAME"/>
	   <result property="mailFileRename" column="MAIL_FILERENAME"/>
	   <result property="mailFileSize" column="MAIL_FILESIZE"/>
	   <result property="mailFilePath" column="MAIL_FILEPATH"/>
	   <result property="readYn" column="READ_YN"/>
	   <result property="sStatus" column="S_STATUS"/>
	   <result property="rStatus" column="R_STATUS"/>
  	</resultMap>
<!--   	받은메일함 -->
  <select id="selectReceiverListCount" resultType="_int">
		SELECT COUNT(*) FROM MAIL WHERE (RECEIVER_ID = #{email } OR RECEIVER_ID2 = #{email }) AND R_STATUS = 'OPEN' 
	</select>

	<select id="selectReceiverAllList" resultMap="mailResultMap">
		SELECT * FROM MAIL WHERE (RECEIVER_ID = #{email } OR RECEIVER_ID2 = #{email }) AND R_STATUS = 'OPEN' ORDER BY MAIL_NO DESC 
	</select>
	
<!-- 	 보낸메일함 -->
	<select id="selectSenderListCount" resultType="_int">
		SELECT COUNT(*) FROM MAIL WHERE SENDER_ID = #{email } AND S_STATUS = 'OPEN' 
	</select>

	<select id="selectSenderAllList" resultMap="mailResultMap">
		SELECT * FROM MAIL WHERE SENDER_ID = #{email } AND S_STATUS = 'OPEN' ORDER BY MAIL_NO DESC
	</select>
	
<!-- 	메일쓰기 -->
  	<insert id="postMail" parameterType="Mail">
  		INSERT INTO MAIL VALUES(SEQ_MAILNUM.NEXTVAL, #{mailTitle } , #{mailContents }, #{senderId }, #{receiverId }, #{receiverId2 }, SYSDATE, NULL,#{mailFileName}, NULL, #{mailFileSize },NULL, DEFAULT, DEFAULT, DEFAULT)
  	</insert>
  	
<!--   	메일 상세조회 -->
	<select id="selectOne" parameterType="_int" resultMap="mailResultMap">
		SELECT * FROM MAIL WHERE MAIL_NO = #{mailNo }
	</select>
<!-- 	메일 삭제 -->
<!-- 	받은메일 삭제 -->
	<update id="deleteRecieveMail" parameterType="string">
		UPDATE MAIL SET R_STATUS = 'HIDE' WHERE MAIL_NO = #{mailNo} 

	</update>
<!-- 	보낸메일 삭제 -->
	<update id="deleteSendMail" parameterType="string">
		UPDATE MAIL SET S_STATUS = 'HIDE' WHERE MAIL_NO = #{mailNo} 

	</update>
	
	 <select id="selectmSearchAll" resultMap="mailResultMap">
	      SELECT * FROM MAIL
	      <if test="searchCondition.toString() == 'mailTitle'">
	         WHERE MAIL_TITLE LIKE '%' || #{searchValue } || '%'
	      </if>
	      <if test="searchCondition.toString() == 'mailContents'">
	         WHERE MAIL_CONTENTS LIKE '%' || #{searchValue } || '%'
	      </if>
	      <if test="searchCondition.toString() == 'senderId'">
	         WHERE SENDER_ID LIKE '%' || #{searchValue } || '%'
	      </if>
	      <if test="searchCondition.toString() == 'all'">
			WHERE MAIL_TITLE LIKE '%' || #{searchValue } || '%'
			OR MAIL_CONTENTS LIKE '%' || #{searchValue } || '%'
			OR SENDER_ID LIKE '%' || #{searchValue } || '%'
		</if>
	      ORDER BY MAIL_NO ASC
	   </select>
<!-- 	수신상태 변경, 읽음  -->
	<update id="addMail" parameterType="_int">
		UPDATE MAIL SET READ_YN = '읽음', READ_TIME = SYSDATE WHERE MAIL_NO = #{mailNo} 
	</update>
	
  </mapper>