<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="noticeMapper">
   <resultMap type="Notice" id="noticeResultMap">
	<id property="noticeNo" column="NOTICE_NO"/>
  	<result property="noticeTitle" column="NOTICE_TITLE"/>
  	<result property="noticeContents" column="NOTICE_CONTENTS"/>
  	<result property="noticeWriter" column="NOTICE_WRITER"/>
  	<result property="noticeFilePath" column="NOTICE_FILE_PATH"/>
  	<result property="regDate" column="REG_DATE"/>
  	<result property="noticeHits" column="NOTICE_HITS"/>
  	<result property="noticeCategory" column="NOTICE_CATEGORY"/>	
  	</resultMap>
  	
  	<select id="selectNoticeList" resultMap="noticeResultMap">
   	SELECT * FROM NOTICE ORDER BY REG_DATE DESC
   </select>
   
   <insert id="insertNotice" parameterType="Notice">
  	INSERT INTO NOTICE VALUES(SEQ_NOTICENO.NEXTVAL, #{noticeTitle },#{noticeContents },#{noticeWriter }, #{noticeFilePath }, DEFAULT, DEFAULT, DEFAULT)
  </insert>
   
  	
  </mapper>