<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL"/>
<!--   		만약에 NULL로 데이러가 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
  	</settings>
	<typeAliases>
		<typeAlias type="com.neuron.spring.approval.domain.Document" alias="Document"/>
		<typeAlias type="com.neuron.spring.approval.domain.Approval" alias="Approval"/>
		<typeAlias type="com.neuron.spring.approval.domain.CodeInfo" alias="CodeInfo"/>
		<typeAlias type="com.neuron.spring.employee.domain.Employee" alias="Employee"/>
		<typeAlias type="com.neuron.spring.employee.domain.Dept" alias="Dept"/>
		<typeAlias type="com.neuron.spring.employee.domain.Team" alias="Team"/>
		<typeAlias type="com.neuron.spring.project.domain.Project" alias="Project"/>
		<typeAlias type="com.neuron.spring.project.domain.Employee" alias="Employee2"/>
		<typeAlias type="com.neuron.spring.empCalendar.domain.EmpCalendar" alias="EmpCalendar"/>
		<typeAlias type="com.neuron.spring.attend.domain.Attendance" alias="Attendance"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/approval-mapper.xml" />
		<mapper resource="mappers/employee-mapper.xml" />
		<mapper resource="mappers/project-mapper.xml" />	
		<mapper resource="mappers/empCalendar-mapper.xml" />	
		<mapper resource="mappers/attendance-mapper.xml" />
	</mappers>
</configuration>
<!-- 		<typeAlias type="com.neuron.spring.approval.domain.DocumentFile" alias="DocumentFile"/> -->
<!-- 		<typeAlias type="com.neuron.spring.approval.domain.Approval" alias="Approval"/> -->